
.audio{
    &__container{
        position: relative;
        &::after{
            content: '';
            background-image: url('background.jpg');
            content: "";
            position: fixed;
            left: 0;
            right: 0;
            z-index: -1;

            display: block;
            background-size:cover;
            width: 100%;
            height: 100%;

            -webkit-filter: blur(8px);
            -moz-filter: blur(8px);
            -o-filter: blur(8px);
            -ms-filter: blur(8px);
            filter: blur(8px);
        }
        
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        
        & > audio {
                filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
                outline: none;
        }
    }
    &__circle{
        & > img {
            height: 100%;
            width: 100%;
            border-radius: 50rem;
        }
        animation: spin;
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        height: 20rem;
        width: 20rem;
        margin: 5rem;
        
    }
    &__list{
        display: flex;
        & > i {
            color: white;
            margin: 2rem;
            font-size: 4rem;
            cursor: pointer;
        }

    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}